Repository ProtonPrivacy/rust-registry, changes with the owners that CODEOWNERS names for each.
All owners: @lfasnacht, @rtetaz, @rlejeune, @aboulmier, @lburkhal, @rlee

CODEOWNERS:

* @lfasnacht @rtetaz @rlejeune @aboulmier

# CRYPTO
/downloads/gopenpgp-sys@* @lburkhal @rlee
/downloads/proton-crypto@* @lburkhal @rlee
/downloads/proton-crypto-account@* @lburkhal @rlee
/downloads/proton-srp@* @lburkhal @rlee

# VPN
/downloads/muon*@* @lfasnacht @aboulmier

Package: muon-proc-0.5.0
  downloads/muon-proc@0.5.0.crate
  downloads/muon-proc@0.5.0.json
Owners: @lfasnacht, @aboulmier

Package: muon-1.3.0
  downloads/muon@1.3.0.crate
  downloads/muon@1.3.0.json
Owners: @lfasnacht, @aboulmier

Package: gopenpgp-sys-0.2.17
  downloads/gopenpgp-sys@0.2.17.crate
  downloads/gopenpgp-sys@0.2.17.json
Owners: @lburkhal, @rlee

Package: proton-srp-0.7.0
  downloads/proton-srp@0.7.0.crate
  downloads/proton-srp@0.7.0.json
Owners: @lburkhal, @rlee

Package: proton-crypto-0.4.15
  downloads/proton-crypto@0.4.15.crate
  downloads/proton-crypto@0.4.15.json
Owners: @lburkhal, @rlee

Package: proton-crypto-account-0.10.1
  downloads/proton-crypto-account@0.10.1.crate
  downloads/proton-crypto-account@0.10.1.json
Owners: @lburkhal, @rlee

Package: gopenpgp-sys-0.2.18
  downloads/gopenpgp-sys@0.2.18.crate
  downloads/gopenpgp-sys@0.2.18.json
Owners: @lburkhal, @rlee

Package: proton-crypto-0.4.16
  downloads/proton-crypto@0.4.16.crate
  downloads/proton-crypto@0.4.16.json
Owners: @lburkhal, @rlee

Package: proton-crypto-account-0.10.2
  downloads/proton-crypto-account@0.10.2.crate
  downloads/proton-crypto-account@0.10.2.json
Owners: @lburkhal, @rlee

upgrade ci template
  .gitlab-ci.yml
Owners: @lfasnacht, @rtetaz, @rlejeune, @aboulmier

Package: gopenpgp-sys-0.3.0
  downloads/gopenpgp-sys@0.3.0.crate
  downloads/gopenpgp-sys@0.3.0.json
Owners: @lburkhal, @rlee

Package: proton-crypto-0.5.0
  downloads/proton-crypto@0.5.0.crate
  downloads/proton-crypto@0.5.0.json
Owners: @lburkhal, @rlee

Package: proton-crypto-account-0.11.0
  downloads/proton-crypto-account@0.11.0.crate
  downloads/proton-crypto-account@0.11.0.json
Owners: @lburkhal, @rlee

Package: muon-1.4.0
  downloads/muon@1.4.0.crate
  downloads/muon@1.4.0.json
Owners: @lfasnacht, @aboulmier

Package: gopenpgp-sys-0.3.1
  downloads/gopenpgp-sys@0.3.1.crate
  downloads/gopenpgp-sys@0.3.1.json
Owners: @lburkhal, @rlee

Package: proton-crypto-0.5.1
  downloads/proton-crypto@0.5.1.crate
  downloads/proton-crypto@0.5.1.json
Owners: @lburkhal, @rlee

Package: proton-crypto-account-0.11.1
  downloads/proton-crypto-account@0.11.1.crate
  downloads/proton-crypto-account@0.11.1.json
Owners: @lburkhal, @rlee

Package: proton-crypto-0.6.0
  downloads/proton-crypto@0.6.0.crate
  downloads/proton-crypto@0.6.0.json
Owners: @lburkhal, @rlee

Package: proton-crypto-account-0.11.2
  downloads/proton-crypto-account@0.11.2.crate
  downloads/proton-crypto-account@0.11.2.json
Owners: @lburkhal, @rlee

Package: proton-crypto-account-0.12.0
  downloads/proton-crypto-account@0.12.0.crate
  downloads/proton-crypto-account@0.12.0.json
Owners: @lburkhal, @rlee

Package: muon-1.5.0
  downloads/muon@1.5.0.crate
  downloads/muon@1.5.0.json
Owners: @lfasnacht, @aboulmier

Package: muon-1.4.1
  downloads/muon@1.4.1.crate
  downloads/muon@1.4.1.json
Owners: @lfasnacht, @aboulmier

Package: muon-1.6.0
  downloads/muon@1.6.0.crate
  downloads/muon@1.6.0.json
Owners: @lfasnacht, @aboulmier
